@model challenges.Models.GoalMetric

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>GoalMetric</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GoalMetricDisplay)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GoalMetricDisplay)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GoalMetricDbName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GoalMetricDbName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.GoalMetricId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
