@model IEnumerable<challenges.Models.GoalMetric>
@{
    ViewData["Title"] = "Goal Metric Index";
}
<div class="card">
    <div class="card-header">
        <strong class="card-title">Goal Metric Index</strong> <a asp-action="Create" class="btn btn-sm btn-success">Create New</a>
    </div>
    <div class="table-stats order-table ov-h">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.GoalMetricDisplay)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GoalMetricDbName)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.GoalMetricDisplay)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GoalMetricDbName)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.GoalMetricId" class="btn btn-info btn-sm">Edit</a>
                            <a asp-action="Delete" asp-route-id="@item.GoalMetricId" class="btn btn-danger btn-sm">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
