@model IEnumerable<challenges.Models.UserChallenge>

@{
    ViewData["Title"] = "Index";
    var userId = User.Claims.Single(c => c.Type == "sub").Value;
    var isAdminOrCoordinator = User.HasClaim("user_type", "administrator") || User.HasClaim("user_type", "coordinator");
}

<h2>Index</h2>

<p>
    @if (isAdminOrCoordinator)
    {
        <a asp-controller="Challenges" asp-action="Create">Create New Group Challenge</a>
    }
    else
    {
        <a asp-controller="Challenges" asp-action="Create">Create Personal Challenge</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Challenge.Activity.ActivityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Challenge.StartDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Challenge.EndDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Challenge.Activity.ActivityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Challenge.Goal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Challenge.GoalMetric)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PercentageComplete)
            </th>
            @if (isAdminOrCoordinator)
            {
                <th>
                    @Html.DisplayNameFor(model => model.UserId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Challenge.isGroupChallenge)
                </th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Challenge.Activity.ActivityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Challenge.StartDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Challenge.EndDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Challenge.Activity.ActivityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Challenge.Goal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Challenge.GoalMetric)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PercentageComplete)
            </td>
            @if (isAdminOrCoordinator)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Challenge.isGroupChallenge)
                </td>
            }
            <td>
                
                @if (item.Challenge.isGroupChallenge)
                {
                    <a asp-action="Delete" asp-route-id="@item.UserChallengeId">Leave</a>
                }
                else
                {
                    <a asp-action="Delete" asp-route-id="@item.UserChallengeId">Delete</a>
                }

            </td>
        </tr>
}
    </tbody>
</table>
