@model IEnumerable<challenges.Models.UserChallenge>

@{
    ViewData["Title"] = "Personal Challenges";
    var userId = User.Claims.Single(c => c.Type == "sub").Value;
    var isAdminOrCoordinator = User.HasClaim("user_type", "administrator") || User.HasClaim("user_type", "coordinator");
}

<div class="card">
    <div class="card-header">
        <strong class="card-title">Personal Challenges</strong>
            <a asp-controller="ChallengesManage" asp-action="Create" class="btn btn-success btn-sm">Create Personal Challenge</a>
    </div>
    <div class="table-stats order-table ov-h">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Challenge.Activity.ActivityName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Challenge.StartDateTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Challenge.EndDateTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Challenge.Goal)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Challenge.GoalMetric)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PercentageComplete)
                    </th>
                    @if (isAdminOrCoordinator)
                    {
                        <th>
                            @Html.DisplayNameFor(model => model.UserId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Challenge.IsGroupChallenge)
                        </th>
                    }
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Challenge.Activity.ActivityName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Challenge.StartDateTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Challenge.EndDateTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Challenge.Goal)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Challenge.GoalMetric.GoalMetricDisplay)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PercentageComplete)
                            %
                        </td>
                        @if (isAdminOrCoordinator)
                        {
                            <td>
                                @Html.DisplayFor(modelItem => item.UserId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Challenge.IsGroupChallenge)
                            </td>
                        }
                            <td>

                                @if (item.Challenge.IsGroupChallenge)
                                {
                                    <a asp-action="Delete" asp-route-id="@item.UserChallengeId" class="btn btn-warning btn-sm">Leave</a>
                                }
                                else
                                {
                                <a asp-controller="ChallengesManage" asp-action="Edit" asp-route-id="@item.UserChallengeId" class="btn btn-info"> Edit </a>
                                <a asp-action="Delete" asp-route-id="@item.UserChallengeId" class="btn btn-danger btn-sm">Delete</a>
                            }
                                </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>