@model challenges.Models.Challenge

@{
    ViewData["Title"] = "Details";
}

<h2>Join</h2>

<div>
    <h4>Challenge</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StartDateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartDateTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EndDateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndDateTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Goal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Goal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Repeat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Repeat)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Activity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Activity.ActivityId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsGroupChallenge)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsGroupChallenge)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Groupid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Groupid)
        </dd>
    </dl>
</div>
<div>
    <form asp-action="Join">
        <input type="hidden" asp-for="ChallengeId" />
        <input type="submit" value="Join" class="btn btn-success" />
        <a asp-action="Index">Back to List</a>
    </form>
</div>
